extends ../layout

block content
  form#signup(action="/signup", method="post")
    input(type='hidden', name='_csrf', value="#{csrf_token}")
    .control-group.row
      - var err = errors && errors['name'];
      label.control-label(for='name') Full name
      .controls.col-xs-4(class=err ? "has-error": undefined)
        input.form-control.col-xs-4#name(type='text', name="name", placeholder='Full name', value=user.name)
      if (err)
        p.text-danger= err

    .control-group.row
      - var err = errors && errors['email'];
      label.control-label(for='email') Email
      .controls.col-xs-4(class=err ? "has-error": undefined)
        input.form-control#email(type='text', name="email", placeholder='Email', value=user.email)
      if (err)
        p.text-danger= err

    .control-group.row
      - var err = errors && errors['username'];
      label.control-label(for='username') Username
      .controls.col-xs-4(class=err ? "has-error": undefined)
        input.form-control#username(type='text', name="username", placeholder='Username', value=user.username)
      if (err)
        p.text-danger= err

    .control-group.row
      - var err = errors && errors['hashed_password'];
      label.control-label(for='password') Password
      .controls.col-xs-4(class=err ? "has-error": undefined)
        input.form-control#password(type='password', name="password", placeholder='Password')
      if (err)
        p.text-danger= err

    .form-actions
      button.btn.btn-primary(type='submit') Sign up
      &nbsp;
      | or&nbsp;
      a.show-login(href="/login") login